{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <h2>Nuevo vehiculo</h2>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group mb-3">
        {{ form.as_table }}
      </div>
      <button type="reset" class="btn btn-secondary">Limpiar</button>
      <button type="submit" class="btn btn-primary">Enviar</button>
      {% if mensaje != None %}
      <div id="error" role="alert" class="alert alert-{{color}}">
        {{mensaje}}
      </div>
      {% endif %}
    </form>
{% endblock%}
